:root {
    --font_color: #03045E;
    --app_background_color: #FBF8CC;
    --app_background_2_color: #F5EE84;
    --app_border_color: #474306;
    --app_border_radius: 6px;
    --shadow: rgba(0, 0, 0, 0.26);
    --app_background_opacity_color: #fbf8ccfa;

    --font_color_dark: #ffffff;
    --app_background_color_dark: #000000;
    --app_background_2_color_dark: #333333;
    --app_border_color_dark: #CCCCCC;
    --shadow_dark: rgba(255, 255, 255, 0.26);
    --app_background_opacity_color-dark: #000000fa;

}

[data-theme='dark'] {
    --font_color: var(--font_color_dark);
    --app_background_color: var(--app_background_color_dark);
    --app_background_2_color: var(--app_background_2_color_dark);
    --app_border_color: var(--app_border_color_dark);
    --shadow: var(--shadow_dark);
    --app_background_opacity_color: var(--app_background_opacity_color-dark);
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--font_color);
    background-color: var(--app_background_color);
}

button {
    background-color: transparent;
    border: 1px solid var(--app_border_color);
    border-radius: var(--app_border_radius);
    padding: 0.5rem 1rem;
    color: var(--app_border_color);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 5px 5px 0 var(--app_background_2_color);
}

textarea,
input {
    outline: none;
    border: none;
    border-radius: var(--app_border_radius);
    padding: 0.5rem 1rem;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    filter: brightness(0.7);
}

.mode-container {
    position: fixed;
    bottom: 15%;
    left: 0;
    cursor: pointer;
}

.mode-container img {
    padding: 0.5rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--app_background_2_color);
}

.dark-mode-icon {
    display: block;
}

.light-mode-icon {
    display: none;
}

.content {
    padding: 1rem 8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button:hover {
    box-shadow: 0 2px 5px 0;
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--app_background_color);
    padding: 1rem 8rem;
    z-index: 2;
}

.nav-options {
    display: flex;
    justify-content: space-between;
}

.brand-name {
    font-weight: bolder;
}

.navigation {
    display: flex;
    gap: 2rem
}

.navigation a {
    cursor: pointer;
    transition: 0.2s ease;
    padding: 0.5rem 1rem;
}

.menu-icon {
    display: none;
}

.navigation a:hover {
    box-shadow: 0 0 5px var(--app_background_2_color);
    border-radius: var(--app_border_radius);
}

section.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    gap: 2rem;
}

section.home .my-info {
    text-align: center;
    font-size: 1.5rem;
}

section.home .my-info p h1 {
    font-weight: 700;
    font-size: 3rem;
}

section.home img {
    height: 15rem;
}

section.experience {
    line-height: 1.8rem;
    margin: 10rem 0;
}

section.experience>p {
    margin-top: 2rem;
}

section.experience h2 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--app_background_2_color);

}

section.experience ul {
    margin-top: 4rem;
    margin-left: 20%;
}

section.experience ul li .job {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.experience ul li h3 {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

section.experience ul li:not(:last-child) {
    margin-bottom: 5rem;
}

section.projects {
    /* height: 100vh; */
    margin: 10rem 0;
    line-height: 1.8rem;
}

section.projects h2 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--app_background_2_color);
}

.card-grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem
}

.card-container {
    height: 100%;
}

.card {
    height: 100%;
    border-radius: var(--app_border_radius);
    box-shadow: 0 0 5px var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card img {
    border-radius: var(--app_border_radius);
    width: 100%;
}

.card .project-info {
    padding: 0 1rem;
    margin: 1rem 0;
}

.card .links {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 2rem 1rem;
}

.card .links a {
    color: var(--app_border_color);
}

section.contact h2 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--app_background_2_color);

}

.contact-me {
    display: flex;
    gap: 2rem;
}

.contact a {
    text-decoration: underline;
}

.contact .my-details {
    padding: 1rem;
}

footer {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--app_background_2_color);
    gap: 0.5rem;
    border: 1px solid var(--app_background_2_color);
}

.birdBody {
    background-color: cyan;
    height: 1rem;
    width: 0.5rem;
    position: absolute;
    transition: top 7s, left 7s;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.birdWings {
    position: absolute;
    transition: top 5s, left 5s;
    width: 0;
    height: 0;
    border-right: 1rem solid yellow;
    border-left: 1rem solid yellow;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    background-color: transparent;
    animation: flap 0.5s infinite;
}

.avatar {
    position: relative;
    z-index: 1;
}

.eyes_container {
    position: absolute;
    top: 34.5%;
    left: 33.5%;
    background-color: #FFDBB4;
    height: 10%;
    width: 33%;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    border-radius: 30%;
}

.eyes {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* background-color: red; */
}

.eye {
    background-color: #665848;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

@media screen and (max-width:700px) {

    .navigation {
        display: none;
        position: absolute;
        background-color: var(--app_background_opacity_color);
        top: 3rem;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        padding-bottom: 1rem;
    }

    .menu-icon {
        display: block;
    }

    section.experience ul li h3 {
        font-size: 1rem;
    }

    section.experience ul {
        margin-left: 2rem;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width:900px) {
    .contact-me {
        flex-direction: column-reverse;
    }

    nav {
        padding: 1rem;
    }

    .content {
        padding: 1rem;
    }
}

@media screen and (min-width:1900px) {
    body {
        font-size: 24px;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--app_background_color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--app_background_2_color);
    border-radius: 100px;
}